{% extends 'base.html.twig' %}
{% block pageContent %}
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <p><strong>Possible Match 2</strong></p>
            </div>
            <div class="card-body">
                <p><strong>Jonathan Leane</strong></p>
                <p>Valid Since 2014-01-01 00:00:00</p>
                <p>Last Seen 2017-10-05 00:00:00</p>
                <p>Suite 906 3 Waverley Street, Bondi Junct, Sydney, New South Wales</p>
                <p>Socials:
                    <ul class="list-unstyled">
                        <li><a href="https://www.linkedin.com/in/jonathan-leane-22596964/" target="_blank">Linkedin</a></li>
                        <li><a href="https://www.facebook.com/people/_/100001031954616/" target="_blank">Facebook</a></li>
                        <li><a href="https://plus.google.com/102782563739859353289/" target="_blank">Google Plus</a></li>
                    </ul>

                </p>

            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <p><strong>Possible Match 2</strong></p>
            </div>
            <div class="card-body">
                <h6>Leane Jonathan</h6>
                <p>Valid Since 2014-12-01 00:00:00</p>
                <p>42 Village High Rd Vaucluse, Sydney, New South Wales</p>
                <p>Phone: +61 2 9388 8919</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}