<div class="row">
    <div class="col-lg-12">
    <h2 class="title-1 m-b-25">Latest Leads</h2>
    <div class="table-responsive table--no-card m-b-40">
        <table class="table table-borderless table-striped table-earning">
            <thead>
            <tr>
                <th>Sl</th>
                <th>UUID</th>
                <th>name</th>
                <th>Salesforce ID</th>
                <th>Created At</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>764c5c6d-14ab-4e07-890d-53360fa6141e</td>
                <td>Jonathan Leane</td>
                <td>00Q6F00001GI5q0</td>
                <td>2018-12-20 00:20</td>
                <td><a href="{{ path('leadDetail') }}">Lookup</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>0ed7e6ea-40be-47d1-b1f9-4b2839f6e9b0</td>
                <td>Jon Doe</td>
                <td>00Q6F000013rh3KUAQ</td>
                <td>2018-12-19 05:42</td>
                <td><a href="{{ path('leadDetail') }}">Lookup</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>c8377f3a-9de2-407b-aa13-5949da1a6ef3</td>
                <td>Jon Snow</td>
                <td>00Q6F000013rfcQUAQ</td>
                <td>2018-12-19 04:31</td>
                <td><a href="{{ path('leadDetail') }}">Lookup</a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>263ff3b7-81bb-48d6-ab0b-660f8a6335b9</td>
                <td>John Smith</td>
                <td>00Q6F000013rhpiUAA</td>
                <td>2018-12-20 01:22</td>
                <td><a href="{{ path('leadDetail') }}">Lookup</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>