<div class="col-lg-3">
    <h2 class="title-1 m-b-25">Today's Leads</h2>
    <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
        <div class="au-card-inner">
            <div class="table-responsive">
                <table class="table table-top-countries">
                    <tbody>
                    <tr>
                        <td>Health</td>
                        <td class="text-right">119,366</td>
                    </tr>
                    <tr>
                        <td>Life</td>
                        <td class="text-right">70,261</td>
                    </tr>
                    <tr>
                        <td>Energy</td>
                        <td class="text-right">46,399</td>
                    </tr>
                    <tr>
                        <td>RC</td>
                        <td class="text-right">35,364</td>
                    </tr>
                    <tr>
                        <td>HAC</td>
                        <td class="text-right">20,366</td>
                    </tr>
                    <tr>
                        <td>Credit Spring</td>
                        <td class="text-right">10,366</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>